#contact {
    padding-bottom: 105px;
}

#contact .contact {
    width: 100%;
    display: table;
}

#contact .contact > div {
    width: 1170px;
    margin: auto;
    display: table;
}

#contact .contact > div fieldset {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.input-80 {
    width: calc(100% - 24px);
    padding: 6px 12px;
    border: 0;
    font-size: 16px;
    color: #FFF;
    font-family: 'Encode Sans Semi Expanded';
    font-weight: 300;
    margin-bottom: 30px;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
}

textarea.input-80 {
    border: 1px solid #FFF;
}

.input-80:focus {
    outline: none;
}

#formResponse {
    font-weight: bold;
    background-color: #FCF8E3;
    border-radius: 5px;
    padding: 10px;
    color: #5C441B;
}

.formUnfilled {
    display: none;
}

label.error {
    color: #FFF;
    padding: 2px 0;
    margin-top: 2px;
    margin-bottom: -10px;
}

.warning {
    color: #FFF;
}

/* Manual Code  */
.form-horizontal .control-label {
    width: 18%;
    max-width: 50%;
    text-align: left;
}

.form-horizontal .controls {

}

select {
    height: 35px;
}

textarea {
    height: 140px;
}

.help-block {
    margin: 3px 0;
    color: #FFF;
    font-size: 14px;
    font-family: 'Encode Sans Semi Expanded';
    display: none;
}

.control-group.error:nth-child(3) .help-block{
    display: block;
}

.help-block ul {
    list-style: none;
    padding-left: 10px;
}

#contact .contact > div fieldset .controls button[type=submit] {
    float: right;
    background-color: #d28501;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: table;
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
}

#contact .contact > div fieldset .controls button[type=submit]:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

textarea::placeholder,
input::placeholder { /* Firefox, Chrome, Opera */ 
    color: #FFF;
    font-style: oblique; 
} 

textarea:-ms-input-placeholder
input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #FFF;
    font-style: oblique; 
} 

textarea::-ms-input-placeholder
input::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #FFF;
    font-style: oblique; 
} 